.card {
  background-color: white;
  border-radius: 5px;
  padding: 3%;
  position: relative;
  box-shadow: 0px 0px 4px 1.5px black;
  cursor: pointer;
  overflow: hidden;
}

.card:hover svg{
  opacity: 1;
}

.colors {
  background-color: #dae1e4;
  height: 14vw;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  color: black;
  padding-top: 0.5rem;
  font-size: 1rem;
  position: relative;
  font-weight: 700;
}

.emoji {
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

.miniColorBox {
  height: 25%;
  width: 20%;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  margin-bottom: -4.5px;
  border: none;
}

.deleteIcon {
  color: white;
  background-color: #eb3d30;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 10px;
  z-index: 10;
  opacity: 0;
}