.paletteList {
  background: #009fff;
  background: -moz-linear-gradient(-45deg, #009fff 0%, #ec2f4b 100%);
  background: -webkit-linear-gradient(-45deg, #009fff 0%,#ec2f4b 100%);
  background: linear-gradient(135deg, #009fff 0%,#ec2f4b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009fff', endColorstr='#ec2f4b',GradientType=1 );  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.container {
  width: 80%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: white;
  align-items: center;
}

.createPaletteLink {
  color: white;
}

.palettes {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 100px;
}
